PORT=3000
NODE_ENV=development

SESSION_SECRET=long

ADMIN_EMAIL=email
ADMIN_PASSWORD=password
ADMIN_NICKNAME=George

# 使用 `npx web-push generate-vapid-keys` 生成，三项均需配置到生产环境。
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:your-email@example.com
